* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    color: #fff;
    -webkit-tap-highlight-color: transparent;
}

main {
    height: auto;
    min-height: 100vh;
    display: flow-root;
    width: 100%;
    background-color: #000;
    position: relative;
}

article {
    height: auto;
    width: 100%;
    position: relative;
    text-align: center;
}

.blob {
    background-image: url("../images/modeling (2).jpg");
    width: clamp(12.5rem, 15vw, 15rem);
    height: clamp(11.5rem, 15vw, 15rem);
    background-size: cover;
    -webkit-background-position: center;
    background-position: center center;
    -webkit-box-shadow: 0 5px 5px 5px rgba(94, 92, 92, 0.219);
    box-shadow: 0 5px 5px 5px rgba(94, 92, 92, 0.219);
    -webkit-animation: animate 5s ease-in-out infinite;
    animation: animate 5s ease-in-out infinite;
    margin: 1vw auto;
}

@-webkit-keyframes animate {

    0%,
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

}

@keyframes animate {

    0%,
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

}

.abt {
    height: auto;
    width: 100%;
}

.abt h1 {
    font-weight: 100;
    font-size: clamp(2rem, 3.5vw, 3.5rem);
}

.abt p {
    width: 85%;
    margin: 0 auto;
    font-weight: 100;
    font-size: clamp(1.2rem, 2vw, 2rem);
    line-height: 1.5;
}

@media (max-width:768px) {

    html,
    body {
        overflow-x: hidden;
    }

    .abt p {
        width: 85%;
    }

}

@media (max-width:550px) {

    html,
    body {
        overflow-y: hidden;
    }

}

@media (max-width:410px) {

    html,
    body {
        overflow-y: auto;
    }

    .abt p {
        width: 90%;
    }

}