* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    color: #fff;
    -webkit-tap-highlight-color: transparent;
}

main {
    height: auto;
    min-height: 100vh;
    display: flow-root;
    width: 100%;
    background-color: #000;
    position: relative;
}

nav {
    height: 10vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 1vw 4vw;
    border-bottom: 0.1px solid grey;
}

.menu {
    display: none;
}

.m-btn {
    display: none;
}

nav img {
    width: clamp(4vmax, 3vw, 3.5vmax);
}

.nav-prt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.nav-prt a {
    font-size: clamp(0.8rem, 1.3vw, 1.1rem);
    text-decoration: none;
    font-weight: 100;
    color: #fff;
    margin: 0 1vw;
    position: relative;
}

.nav-prt > a:nth-child(2) {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: -o-linear-gradient(left, rgba(199, 17, 59, 1) 5%, rgba(228, 94, 81, 1) 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, rgba(199, 17, 59, 1)), to(rgba(228, 94, 81, 1)));
    background-image: linear-gradient(90deg, rgba(199, 17, 59, 1) 5%, rgba(228, 94, 81, 1) 100%);
}

.nav-prt a::before {
    content: "";
    height: 0.5px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform: scalex(0);
    -ms-transform: scalex(0);
    transform: scalex(0);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    background-image: -o-linear-gradient(left, rgba(199, 17, 59, 1) 5%, rgba(228, 94, 81, 1) 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, rgba(199, 17, 59, 1)), to(rgba(228, 94, 81, 1)));
    background-image: linear-gradient(90deg, rgba(199, 17, 59, 1) 5%, rgba(228, 94, 81, 1) 100%);
}

.nav-prt a:hover::before {
    -webkit-transform: scalex(1);
    -ms-transform: scalex(1);
    transform: scalex(1);
}

article {
    height: auto;
    width: 100%;
    position: relative;
    text-align: center;
}

.blob {
    background-image: url("../images/profile (1).jpg");
    width: clamp(12.5rem, 15vw, 15rem);
    height: clamp(11.5rem, 15vw, 15rem);
    background-size: cover;
    -webkit-background-position: center;
    background-position: center center;
    -webkit-box-shadow: 0 5px 5px 5px rgba(94, 92, 92, 0.219);
    box-shadow: 0 5px 5px 5px rgba(94, 92, 92, 0.219);
    -webkit-animation: animate 5s ease-in-out infinite;
    animation: animate 5s ease-in-out infinite;
    margin: 1vw auto;
}

@-webkit-keyframes animate {

    0%,
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

}

@keyframes animate {

    0%,
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

}

.abt {
    height: auto;
    width: 100%;
}

.abt h1 {
    font-weight: 100;
    font-size: clamp(2rem, 3.5vw, 3.5rem);
}

.abt p {
    width: 85%;
    margin: 0 auto;
    font-weight: 100;
    font-size: clamp(1.2rem, 2vw, 2rem);
    line-height: 1.5;
}

@media (max-width:992px) {

    nav {
        height: 9vh;
    }

}

@media (max-width:768px) {

    html,
    body {
        overflow-x: hidden;
    }

    nav {
        height: 8vh;
    }

    .menu i {
        font-size: 4vw;
    }

    .menu {
        display: block;
    }

    #contain-nav {
        height: 100vh;
        width: 100%;
        position: absolute;
        background: #ffffff56;
        top: 0;
        right: -100%;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        padding: 150px 60px;
        z-index: 999;
    }

    .nav-prt {
        height: 80%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .nav-prt a {
        font-size: 2rem;
        font-weight: 500;
    }

    .m-btn {
        display: block;
        position: absolute;
        top: 5%;
        right: 10%;
        padding: 0.5vw;
        border-radius: 50%;
        font-size: 2rem;
        background-color: #ffffff;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }

    .nav-prt a:hover::before {
        -webkit-transform: scalex(0);
        -ms-transform: scalex(0);
        transform: scalex(0);
    }

    .abt p {
        width: 85%;
    }

}

@media (max-width:550px) {

    html,
    body {
        overflow-y: hidden;
    }

    nav {
        height: 7vh;
    }

}

@media (max-width:410px) {

    html,
    body {
        overflow-y: auto;
    }

    .abt p {
        width: 90%;
    }

}