* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    color: #fff;
    -webkit-tap-highlight-color: transparent;
}

main {
    height: auto;
    min-height: 100vh;
    display: flow-root;
    width: 100%;
    background-color: #000;
    position: relative;
}

nav {
    height: 10vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 1vw 4vw;
    border-bottom: 0.1px solid grey;
}

.menu {
    display: none;
}

.m-btn {
    display: none;
}

nav img {
    width: 3.5vmax;
}

.nav-prt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.nav-prt a {
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 100;
    color: #fff;
    margin: 0 1vw;
    position: relative;
}

.nav-prt > a:last-child {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: -o-linear-gradient(left, rgba(199, 17, 59, 1) 5%, rgba(228, 94, 81, 1) 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, rgba(199, 17, 59, 1)), to(rgba(228, 94, 81, 1)));
    background-image: linear-gradient(90deg, rgba(199, 17, 59, 1) 5%, rgba(228, 94, 81, 1) 100%);
}

.nav-prt a::before {
    content: "";
    height: 0.5px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform: scalex(0);
    -ms-transform: scalex(0);
    transform: scalex(0);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    background-image: -o-linear-gradient(left, rgba(199, 17, 59, 1) 5%, rgba(228, 94, 81, 1) 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, rgba(199, 17, 59, 1)), to(rgba(228, 94, 81, 1)));
    background-image: linear-gradient(90deg, rgba(199, 17, 59, 1) 5%, rgba(228, 94, 81, 1) 100%);
}

.nav-prt a:hover::before {
    -webkit-transform: scalex(1);
    -ms-transform: scalex(1);
    transform: scalex(1);
}

.info {
    min-height: calc(100vh - 10vh);
    height: auto;
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 7%;
}

.info h1 {
    font-weight: 100;
    font-size: 3.5rem;
    padding: 2vw 0;
}

.info p {
    height: auto;
    width: 80%;
    font-weight: 100;
    font-size: 2rem;
    line-height: 1.5;
    margin: 0 auto;
}

.info p a {
    text-decoration: none;
    font-size: 1.75rem;
    color: aqua;
    text-decoration: underline;
}


@media (max-width:992px) {

    nav {
        height: 9vh;
    }

    .info {
        min-height: calc(100vh - 9vh);
    }

}

@media (max-width:768px) {

    html,
    body {
        overflow-x: hidden;
    }

    nav {
        height: 8vh;
    }

    .info {
        min-height: calc(100vh - 8vh);
    }

    .info p {
        font-size: 1.8rem;
    }

    .menu {
        display: block;
    }

    #contain-nav {
        height: 100vh;
        width: 100%;
        position: absolute;
        background: #ffffff56;
        top: 0;
        right: -100%;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        padding: 150px 60px;
        z-index: 999;
    }

    .nav-prt {
        height: 80%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .nav-prt a {
        font-size: 2rem;
        font-weight: 500;
    }

    .m-btn {
        display: block;
        position: absolute;
        top: 5%;
        right: 10%;
        padding: 0.5vw;
        border-radius: 50%;
        font-size: 1.5rem;
        background-color: #ffffff;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }

    .nav-prt a:hover::before {
        -webkit-transform: scalex(0);
        -ms-transform: scalex(0);
        transform: scalex(0);
    }

    nav img {
        width: 4vmax;
    }

    .menu i {
        font-size: 4vw;
    }

}

@media (max-width:550px) {

    html,
    body {
        overflow: hidden;
    }

    nav {
        height: 7vh;
    }

    .info {
        min-height: calc(100vh - 7vh);
    }

    .info p {
        font-size: 1.3rem;
    }

    .info p a {
        font-size: 1.3rem;
    }

}

@media (max-width:410px) {

    html,
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }

}

@media (max-width:390px) {

    .info p {
        width: 85%;
    }

}

@media (max-width:360px) {

    .info p {
        width: 90%;
    }

}

@media (max-width:330px) {

    .info p {
        width: 95%;
    }

}